/* Fruit Soda by jozip */

.base00-bg { background-color: #f1ecf1; }
.base01-bg { background-color: #e0dee0; }
.base02-bg { background-color: #d8d5d5; }
.base03-bg { background-color: #b5b4b6; }
.base04-bg { background-color: #979598; }
.base05-bg { background-color: #515151; }
.base06-bg { background-color: #474545; }
.base07-bg { background-color: #2d2c2c; }
.base08-bg { background-color: #fe3e31; }
.base09-bg { background-color: #fe6d08; }
.base0A-bg { background-color: #f7e203; }
.base0B-bg { background-color: #47f74c; }
.base0C-bg { background-color: #0f9cfd; }
.base0D-bg { background-color: #2931df; }
.base0E-bg { background-color: #611fce; }
.base0F-bg { background-color: #b16f40; }

.base00 { color: #f1ecf1; }
.base01 { color: #e0dee0; }
.base02 { color: #d8d5d5; }
.base03 { color: #b5b4b6; }
.base04 { color: #979598; }
.base05 { color: #515151; }
.base06 { color: #474545; }
.base07 { color: #2d2c2c; }
.base08 { color: #fe3e31; }
.base09 { color: #fe6d08; }
.base0A { color: #f7e203; }
.base0B { color: #47f74c; }
.base0C { color: #0f9cfd; }
.base0D { color: #2931df; }
.base0E { color: #611fce; }
.base0F { color: #b16f40; }
