/* PaperColor Light by Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme) */

.base00-bg { background-color: #eeeeee; }
.base01-bg { background-color: #af0000; }
.base02-bg { background-color: #008700; }
.base03-bg { background-color: #5f8700; }
.base04-bg { background-color: #0087af; }
.base05-bg { background-color: #878787; }
.base06-bg { background-color: #005f87; }
.base07-bg { background-color: #444444; }
.base08-bg { background-color: #bcbcbc; }
.base09-bg { background-color: #d70000; }
.base0A-bg { background-color: #d70087; }
.base0B-bg { background-color: #8700af; }
.base0C-bg { background-color: #d75f00; }
.base0D-bg { background-color: #d75f00; }
.base0E-bg { background-color: #005faf; }
.base0F-bg { background-color: #005f87; }

.base00 { color: #eeeeee; }
.base01 { color: #af0000; }
.base02 { color: #008700; }
.base03 { color: #5f8700; }
.base04 { color: #0087af; }
.base05 { color: #878787; }
.base06 { color: #005f87; }
.base07 { color: #444444; }
.base08 { color: #bcbcbc; }
.base09 { color: #d70000; }
.base0A { color: #d70087; }
.base0B { color: #8700af; }
.base0C { color: #d75f00; }
.base0D { color: #d75f00; }
.base0E { color: #005faf; }
.base0F { color: #005f87; }
