/* Brush Trees by Abraham White <abelincoln.white@gmail.com> */

.base00-bg { background-color: #E3EFEF; }
.base01-bg { background-color: #C9DBDC; }
.base02-bg { background-color: #B0C5C8; }
.base03-bg { background-color: #98AFB5; }
.base04-bg { background-color: #8299A1; }
.base05-bg { background-color: #6D828E; }
.base06-bg { background-color: #5A6D7A; }
.base07-bg { background-color: #485867; }
.base08-bg { background-color: #b38686; }
.base09-bg { background-color: #d8bba2; }
.base0A-bg { background-color: #aab386; }
.base0B-bg { background-color: #87b386; }
.base0C-bg { background-color: #86b3b3; }
.base0D-bg { background-color: #868cb3; }
.base0E-bg { background-color: #b386b2; }
.base0F-bg { background-color: #b39f9f; }

.base00 { color: #E3EFEF; }
.base01 { color: #C9DBDC; }
.base02 { color: #B0C5C8; }
.base03 { color: #98AFB5; }
.base04 { color: #8299A1; }
.base05 { color: #6D828E; }
.base06 { color: #5A6D7A; }
.base07 { color: #485867; }
.base08 { color: #b38686; }
.base09 { color: #d8bba2; }
.base0A { color: #aab386; }
.base0B { color: #87b386; }
.base0C { color: #86b3b3; }
.base0D { color: #868cb3; }
.base0E { color: #b386b2; }
.base0F { color: #b39f9f; }
