/* Classic Light by Jason Heeris (http://heeris.id.au) */

.base00-bg { background-color: #F5F5F5; }
.base01-bg { background-color: #E0E0E0; }
.base02-bg { background-color: #D0D0D0; }
.base03-bg { background-color: #B0B0B0; }
.base04-bg { background-color: #505050; }
.base05-bg { background-color: #303030; }
.base06-bg { background-color: #202020; }
.base07-bg { background-color: #151515; }
.base08-bg { background-color: #AC4142; }
.base09-bg { background-color: #D28445; }
.base0A-bg { background-color: #F4BF75; }
.base0B-bg { background-color: #90A959; }
.base0C-bg { background-color: #75B5AA; }
.base0D-bg { background-color: #6A9FB5; }
.base0E-bg { background-color: #AA759F; }
.base0F-bg { background-color: #8F5536; }

.base00 { color: #F5F5F5; }
.base01 { color: #E0E0E0; }
.base02 { color: #D0D0D0; }
.base03 { color: #B0B0B0; }
.base04 { color: #505050; }
.base05 { color: #303030; }
.base06 { color: #202020; }
.base07 { color: #151515; }
.base08 { color: #AC4142; }
.base09 { color: #D28445; }
.base0A { color: #F4BF75; }
.base0B { color: #90A959; }
.base0C { color: #75B5AA; }
.base0D { color: #6A9FB5; }
.base0E { color: #AA759F; }
.base0F { color: #8F5536; }
