/* Snazzy by Chawye Hsu (https://github.com/h404bi) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy) */

.base00-bg { background-color: #282a36; }
.base01-bg { background-color: #34353e; }
.base02-bg { background-color: #43454f; }
.base03-bg { background-color: #78787e; }
.base04-bg { background-color: #a5a5a9; }
.base05-bg { background-color: #e2e4e5; }
.base06-bg { background-color: #eff0eb; }
.base07-bg { background-color: #f1f1f0; }
.base08-bg { background-color: #ff5c57; }
.base09-bg { background-color: #ff9f43; }
.base0A-bg { background-color: #f3f99d; }
.base0B-bg { background-color: #5af78e; }
.base0C-bg { background-color: #9aedfe; }
.base0D-bg { background-color: #57c7ff; }
.base0E-bg { background-color: #ff6ac1; }
.base0F-bg { background-color: #b2643c; }

.base00 { color: #282a36; }
.base01 { color: #34353e; }
.base02 { color: #43454f; }
.base03 { color: #78787e; }
.base04 { color: #a5a5a9; }
.base05 { color: #e2e4e5; }
.base06 { color: #eff0eb; }
.base07 { color: #f1f1f0; }
.base08 { color: #ff5c57; }
.base09 { color: #ff9f43; }
.base0A { color: #f3f99d; }
.base0B { color: #5af78e; }
.base0C { color: #9aedfe; }
.base0D { color: #57c7ff; }
.base0E { color: #ff6ac1; }
.base0F { color: #b2643c; }
