/* Icy Dark by icyphox (https://icyphox.ga) */

.base00-bg { background-color: #021012; }
.base01-bg { background-color: #031619; }
.base02-bg { background-color: #041f23; }
.base03-bg { background-color: #052e34; }
.base04-bg { background-color: #064048; }
.base05-bg { background-color: #095b67; }
.base06-bg { background-color: #0c7c8c; }
.base07-bg { background-color: #109cb0; }
.base08-bg { background-color: #16c1d9; }
.base09-bg { background-color: #b3ebf2; }
.base0A-bg { background-color: #80deea; }
.base0B-bg { background-color: #4dd0e1; }
.base0C-bg { background-color: #26c6da; }
.base0D-bg { background-color: #00bcd4; }
.base0E-bg { background-color: #00acc1; }
.base0F-bg { background-color: #0097a7; }

.base00 { color: #021012; }
.base01 { color: #031619; }
.base02 { color: #041f23; }
.base03 { color: #052e34; }
.base04 { color: #064048; }
.base05 { color: #095b67; }
.base06 { color: #0c7c8c; }
.base07 { color: #109cb0; }
.base08 { color: #16c1d9; }
.base09 { color: #b3ebf2; }
.base0A { color: #80deea; }
.base0B { color: #4dd0e1; }
.base0C { color: #26c6da; }
.base0D { color: #00bcd4; }
.base0E { color: #00acc1; }
.base0F { color: #0097a7; }
