/* Horizon Dark by Michaël Ball (http://github.com/michael-ball/) */

.base00-bg { background-color: #1C1E26; }
.base01-bg { background-color: #232530; }
.base02-bg { background-color: #2E303E; }
.base03-bg { background-color: #6F6F70; }
.base04-bg { background-color: #9DA0A2; }
.base05-bg { background-color: #CBCED0; }
.base06-bg { background-color: #DCDFE4; }
.base07-bg { background-color: #E3E6EE; }
.base08-bg { background-color: #E93C58; }
.base09-bg { background-color: #E58D7D; }
.base0A-bg { background-color: #EFB993; }
.base0B-bg { background-color: #EFAF8E; }
.base0C-bg { background-color: #24A8B4; }
.base0D-bg { background-color: #DF5273; }
.base0E-bg { background-color: #B072D1; }
.base0F-bg { background-color: #E4A382; }

.base00 { color: #1C1E26; }
.base01 { color: #232530; }
.base02 { color: #2E303E; }
.base03 { color: #6F6F70; }
.base04 { color: #9DA0A2; }
.base05 { color: #CBCED0; }
.base06 { color: #DCDFE4; }
.base07 { color: #E3E6EE; }
.base08 { color: #E93C58; }
.base09 { color: #E58D7D; }
.base0A { color: #EFB993; }
.base0B { color: #EFAF8E; }
.base0C { color: #24A8B4; }
.base0D { color: #DF5273; }
.base0E { color: #B072D1; }
.base0F { color: #E4A382; }
