/* Nova by George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com) */

.base00-bg { background-color: #3C4C55; }
.base01-bg { background-color: #556873; }
.base02-bg { background-color: #6A7D89; }
.base03-bg { background-color: #899BA6; }
.base04-bg { background-color: #899BA6; }
.base05-bg { background-color: #C5D4DD; }
.base06-bg { background-color: #899BA6; }
.base07-bg { background-color: #556873; }
.base08-bg { background-color: #83AFE5; }
.base09-bg { background-color: #7FC1CA; }
.base0A-bg { background-color: #A8CE93; }
.base0B-bg { background-color: #7FC1CA; }
.base0C-bg { background-color: #F2C38F; }
.base0D-bg { background-color: #83AFE5; }
.base0E-bg { background-color: #9A93E1; }
.base0F-bg { background-color: #F2C38F; }

.base00 { color: #3C4C55; }
.base01 { color: #556873; }
.base02 { color: #6A7D89; }
.base03 { color: #899BA6; }
.base04 { color: #899BA6; }
.base05 { color: #C5D4DD; }
.base06 { color: #899BA6; }
.base07 { color: #556873; }
.base08 { color: #83AFE5; }
.base09 { color: #7FC1CA; }
.base0A { color: #A8CE93; }
.base0B { color: #7FC1CA; }
.base0C { color: #F2C38F; }
.base0D { color: #83AFE5; }
.base0E { color: #9A93E1; }
.base0F { color: #F2C38F; }
