/* Cupertino by Defman21 */

.base00-bg { background-color: #ffffff; }
.base01-bg { background-color: #c0c0c0; }
.base02-bg { background-color: #c0c0c0; }
.base03-bg { background-color: #808080; }
.base04-bg { background-color: #808080; }
.base05-bg { background-color: #404040; }
.base06-bg { background-color: #404040; }
.base07-bg { background-color: #5e5e5e; }
.base08-bg { background-color: #c41a15; }
.base09-bg { background-color: #eb8500; }
.base0A-bg { background-color: #826b28; }
.base0B-bg { background-color: #007400; }
.base0C-bg { background-color: #318495; }
.base0D-bg { background-color: #0000ff; }
.base0E-bg { background-color: #a90d91; }
.base0F-bg { background-color: #826b28; }

.base00 { color: #ffffff; }
.base01 { color: #c0c0c0; }
.base02 { color: #c0c0c0; }
.base03 { color: #808080; }
.base04 { color: #808080; }
.base05 { color: #404040; }
.base06 { color: #404040; }
.base07 { color: #5e5e5e; }
.base08 { color: #c41a15; }
.base09 { color: #eb8500; }
.base0A { color: #826b28; }
.base0B { color: #007400; }
.base0C { color: #318495; }
.base0D { color: #0000ff; }
.base0E { color: #a90d91; }
.base0F { color: #826b28; }
