/* Edge Dark by cjayross (https://github.com/cjayross) */

.base00-bg { background-color: #262729; }
.base01-bg { background-color: #88909f; }
.base02-bg { background-color: #b7bec9; }
.base03-bg { background-color: #3e4249; }
.base04-bg { background-color: #73b3e7; }
.base05-bg { background-color: #b7bec9; }
.base06-bg { background-color: #d390e7; }
.base07-bg { background-color: #3e4249; }
.base08-bg { background-color: #e77171; }
.base09-bg { background-color: #e77171; }
.base0A-bg { background-color: #dbb774; }
.base0B-bg { background-color: #a1bf78; }
.base0C-bg { background-color: #5ebaa5; }
.base0D-bg { background-color: #73b3e7; }
.base0E-bg { background-color: #d390e7; }
.base0F-bg { background-color: #5ebaa5; }

.base00 { color: #262729; }
.base01 { color: #88909f; }
.base02 { color: #b7bec9; }
.base03 { color: #3e4249; }
.base04 { color: #73b3e7; }
.base05 { color: #b7bec9; }
.base06 { color: #d390e7; }
.base07 { color: #3e4249; }
.base08 { color: #e77171; }
.base09 { color: #e77171; }
.base0A { color: #dbb774; }
.base0B { color: #a1bf78; }
.base0C { color: #5ebaa5; }
.base0D { color: #73b3e7; }
.base0E { color: #d390e7; }
.base0F { color: #5ebaa5; }
