/* Material Vivid by joshyrobot */

.base00-bg { background-color: #202124; }
.base01-bg { background-color: #27292c; }
.base02-bg { background-color: #323639; }
.base03-bg { background-color: #44464d; }
.base04-bg { background-color: #676c71; }
.base05-bg { background-color: #80868b; }
.base06-bg { background-color: #9e9e9e; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #f44336; }
.base09-bg { background-color: #ff9800; }
.base0A-bg { background-color: #ffeb3b; }
.base0B-bg { background-color: #00e676; }
.base0C-bg { background-color: #00bcd4; }
.base0D-bg { background-color: #2196f3; }
.base0E-bg { background-color: #673ab7; }
.base0F-bg { background-color: #8d6e63; }

.base00 { color: #202124; }
.base01 { color: #27292c; }
.base02 { color: #323639; }
.base03 { color: #44464d; }
.base04 { color: #676c71; }
.base05 { color: #80868b; }
.base06 { color: #9e9e9e; }
.base07 { color: #ffffff; }
.base08 { color: #f44336; }
.base09 { color: #ff9800; }
.base0A { color: #ffeb3b; }
.base0B { color: #00e676; }
.base0C { color: #00bcd4; }
.base0D { color: #2196f3; }
.base0E { color: #673ab7; }
.base0F { color: #8d6e63; }
