/* Horizon Light by Michaël Ball (http://github.com/michael-ball/) */

.base00-bg { background-color: #FDF0ED; }
.base01-bg { background-color: #FADAD1; }
.base02-bg { background-color: #F9CBBE; }
.base03-bg { background-color: #BDB3B1; }
.base04-bg { background-color: #948C8A; }
.base05-bg { background-color: #403C3D; }
.base06-bg { background-color: #302C2D; }
.base07-bg { background-color: #201C1D; }
.base08-bg { background-color: #E95678; }
.base09-bg { background-color: #F9CEC3; }
.base0A-bg { background-color: #FADAD1; }
.base0B-bg { background-color: #29D398; }
.base0C-bg { background-color: #59E1E3; }
.base0D-bg { background-color: #26BBD9; }
.base0E-bg { background-color: #EE64AC; }
.base0F-bg { background-color: #F9CBBE; }

.base00 { color: #FDF0ED; }
.base01 { color: #FADAD1; }
.base02 { color: #F9CBBE; }
.base03 { color: #BDB3B1; }
.base04 { color: #948C8A; }
.base05 { color: #403C3D; }
.base06 { color: #302C2D; }
.base07 { color: #201C1D; }
.base08 { color: #E95678; }
.base09 { color: #F9CEC3; }
.base0A { color: #FADAD1; }
.base0B { color: #29D398; }
.base0C { color: #59E1E3; }
.base0D { color: #26BBD9; }
.base0E { color: #EE64AC; }
.base0F { color: #F9CBBE; }
