/* Material Darker by Nate Peterson */

.base00-bg { background-color: #212121; }
.base01-bg { background-color: #303030; }
.base02-bg { background-color: #353535; }
.base03-bg { background-color: #4A4A4A; }
.base04-bg { background-color: #B2CCD6; }
.base05-bg { background-color: #EEFFFF; }
.base06-bg { background-color: #EEFFFF; }
.base07-bg { background-color: #FFFFFF; }
.base08-bg { background-color: #F07178; }
.base09-bg { background-color: #F78C6C; }
.base0A-bg { background-color: #FFCB6B; }
.base0B-bg { background-color: #C3E88D; }
.base0C-bg { background-color: #89DDFF; }
.base0D-bg { background-color: #82AAFF; }
.base0E-bg { background-color: #C792EA; }
.base0F-bg { background-color: #FF5370; }

.base00 { color: #212121; }
.base01 { color: #303030; }
.base02 { color: #353535; }
.base03 { color: #4A4A4A; }
.base04 { color: #B2CCD6; }
.base05 { color: #EEFFFF; }
.base06 { color: #EEFFFF; }
.base07 { color: #FFFFFF; }
.base08 { color: #F07178; }
.base09 { color: #F78C6C; }
.base0A { color: #FFCB6B; }
.base0B { color: #C3E88D; }
.base0C { color: #89DDFF; }
.base0D { color: #82AAFF; }
.base0E { color: #C792EA; }
.base0F { color: #FF5370; }
