/* iA Dark by iA Inc. (modified by aramisgithub) */

.base00-bg { background-color: #1a1a1a; }
.base01-bg { background-color: #222222; }
.base02-bg { background-color: #1d414d; }
.base03-bg { background-color: #767676; }
.base04-bg { background-color: #b8b8b8; }
.base05-bg { background-color: #cccccc; }
.base06-bg { background-color: #e8e8e8; }
.base07-bg { background-color: #f8f8f8; }
.base08-bg { background-color: #d88568; }
.base09-bg { background-color: #d86868; }
.base0A-bg { background-color: #b99353; }
.base0B-bg { background-color: #83a471; }
.base0C-bg { background-color: #7c9cae; }
.base0D-bg { background-color: #8eccdd; }
.base0E-bg { background-color: #b98eb2; }
.base0F-bg { background-color: #8b6c37; }

.base00 { color: #1a1a1a; }
.base01 { color: #222222; }
.base02 { color: #1d414d; }
.base03 { color: #767676; }
.base04 { color: #b8b8b8; }
.base05 { color: #cccccc; }
.base06 { color: #e8e8e8; }
.base07 { color: #f8f8f8; }
.base08 { color: #d88568; }
.base09 { color: #d86868; }
.base0A { color: #b99353; }
.base0B { color: #83a471; }
.base0C { color: #7c9cae; }
.base0D { color: #8eccdd; }
.base0E { color: #b98eb2; }
.base0F { color: #8b6c37; }
