/* Horizon Light by Michaël Ball (http://github.com/michael-ball/) */

.base00-bg { background-color: #FDF0ED; }
.base01-bg { background-color: #FADAD1; }
.base02-bg { background-color: #F9CBBE; }
.base03-bg { background-color: #BDB3B1; }
.base04-bg { background-color: #948C8A; }
.base05-bg { background-color: #403C3D; }
.base06-bg { background-color: #302C2D; }
.base07-bg { background-color: #201C1D; }
.base08-bg { background-color: #F7939B; }
.base09-bg { background-color: #F6661E; }
.base0A-bg { background-color: #FBE0D9; }
.base0B-bg { background-color: #94E1B0; }
.base0C-bg { background-color: #DC3318; }
.base0D-bg { background-color: #DA103F; }
.base0E-bg { background-color: #1D8991; }
.base0F-bg { background-color: #E58C92; }

.base00 { color: #FDF0ED; }
.base01 { color: #FADAD1; }
.base02 { color: #F9CBBE; }
.base03 { color: #BDB3B1; }
.base04 { color: #948C8A; }
.base05 { color: #403C3D; }
.base06 { color: #302C2D; }
.base07 { color: #201C1D; }
.base08 { color: #F7939B; }
.base09 { color: #F6661E; }
.base0A { color: #FBE0D9; }
.base0B { color: #94E1B0; }
.base0C { color: #DC3318; }
.base0D { color: #DA103F; }
.base0E { color: #1D8991; }
.base0F { color: #E58C92; }
