/* Espresso by Alex Mirrington (https://github.com/alexmirrington) */

.base00-bg { background-color: #2d2d2d; }
.base01-bg { background-color: #393939; }
.base02-bg { background-color: #515151; }
.base03-bg { background-color: #777777; }
.base04-bg { background-color: #b4b7b4; }
.base05-bg { background-color: #cccccc; }
.base06-bg { background-color: #e0e0e0; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #d25252; }
.base09-bg { background-color: #f9a959; }
.base0A-bg { background-color: #ffc66d; }
.base0B-bg { background-color: #a5c261; }
.base0C-bg { background-color: #bed6ff; }
.base0D-bg { background-color: #6c99bb; }
.base0E-bg { background-color: #d197d9; }
.base0F-bg { background-color: #f97394; }

.base00 { color: #2d2d2d; }
.base01 { color: #393939; }
.base02 { color: #515151; }
.base03 { color: #777777; }
.base04 { color: #b4b7b4; }
.base05 { color: #cccccc; }
.base06 { color: #e0e0e0; }
.base07 { color: #ffffff; }
.base08 { color: #d25252; }
.base09 { color: #f9a959; }
.base0A { color: #ffc66d; }
.base0B { color: #a5c261; }
.base0C { color: #bed6ff; }
.base0D { color: #6c99bb; }
.base0E { color: #d197d9; }
.base0F { color: #f97394; }
