/* Brogrammer by Vik Ramanujam (http://github.com/piggyslasher) */

.base00-bg { background-color: #1f1f1f; }
.base01-bg { background-color: #f81118; }
.base02-bg { background-color: #2dc55e; }
.base03-bg { background-color: #ecba0f; }
.base04-bg { background-color: #2a84d2; }
.base05-bg { background-color: #4e5ab7; }
.base06-bg { background-color: #1081d6; }
.base07-bg { background-color: #d6dbe5; }
.base08-bg { background-color: #d6dbe5; }
.base09-bg { background-color: #de352e; }
.base0A-bg { background-color: #1dd361; }
.base0B-bg { background-color: #f3bd09; }
.base0C-bg { background-color: #1081d6; }
.base0D-bg { background-color: #5350b9; }
.base0E-bg { background-color: #0f7ddb; }
.base0F-bg { background-color: #ffffff; }

.base00 { color: #1f1f1f; }
.base01 { color: #f81118; }
.base02 { color: #2dc55e; }
.base03 { color: #ecba0f; }
.base04 { color: #2a84d2; }
.base05 { color: #4e5ab7; }
.base06 { color: #1081d6; }
.base07 { color: #d6dbe5; }
.base08 { color: #d6dbe5; }
.base09 { color: #de352e; }
.base0A { color: #1dd361; }
.base0B { color: #f3bd09; }
.base0C { color: #1081d6; }
.base0D { color: #5350b9; }
.base0E { color: #0f7ddb; }
.base0F { color: #ffffff; }
