/* Porple by Niek den Breeje (https://github.com/AuditeMarlow) */

.base00-bg { background-color: #292c36; }
.base01-bg { background-color: #333344; }
.base02-bg { background-color: #474160; }
.base03-bg { background-color: #65568a; }
.base04-bg { background-color: #b8b8b8; }
.base05-bg { background-color: #d8d8d8; }
.base06-bg { background-color: #e8e8e8; }
.base07-bg { background-color: #f8f8f8; }
.base08-bg { background-color: #f84547; }
.base09-bg { background-color: #d28e5d; }
.base0A-bg { background-color: #efa16b; }
.base0B-bg { background-color: #95c76f; }
.base0C-bg { background-color: #64878f; }
.base0D-bg { background-color: #8485ce; }
.base0E-bg { background-color: #b74989; }
.base0F-bg { background-color: #986841; }

.base00 { color: #292c36; }
.base01 { color: #333344; }
.base02 { color: #474160; }
.base03 { color: #65568a; }
.base04 { color: #b8b8b8; }
.base05 { color: #d8d8d8; }
.base06 { color: #e8e8e8; }
.base07 { color: #f8f8f8; }
.base08 { color: #f84547; }
.base09 { color: #d28e5d; }
.base0A { color: #efa16b; }
.base0B { color: #95c76f; }
.base0C { color: #64878f; }
.base0D { color: #8485ce; }
.base0E { color: #b74989; }
.base0F { color: #986841; }
