/* Zenburn by elnawe */

.base00-bg { background-color: #383838; }
.base01-bg { background-color: #404040; }
.base02-bg { background-color: #606060; }
.base03-bg { background-color: #6f6f6f; }
.base04-bg { background-color: #808080; }
.base05-bg { background-color: #dcdccc; }
.base06-bg { background-color: #c0c0c0; }
.base07-bg { background-color: #ffffff; }
.base08-bg { background-color: #dca3a3; }
.base09-bg { background-color: #dfaf8f; }
.base0A-bg { background-color: #e0cf9f; }
.base0B-bg { background-color: #5f7f5f; }
.base0C-bg { background-color: #93e0e3; }
.base0D-bg { background-color: #7cb8bb; }
.base0E-bg { background-color: #dc8cc3; }
.base0F-bg { background-color: #000000; }

.base00 { color: #383838; }
.base01 { color: #404040; }
.base02 { color: #606060; }
.base03 { color: #6f6f6f; }
.base04 { color: #808080; }
.base05 { color: #dcdccc; }
.base06 { color: #c0c0c0; }
.base07 { color: #ffffff; }
.base08 { color: #dca3a3; }
.base09 { color: #dfaf8f; }
.base0A { color: #e0cf9f; }
.base0B { color: #5f7f5f; }
.base0C { color: #93e0e3; }
.base0D { color: #7cb8bb; }
.base0E { color: #dc8cc3; }
.base0F { color: #000000; }
