/* One Light by Daniel Pfeifer (http://github.com/purpleKarrot) */

.base00-bg { background-color: #fafafa; }
.base01-bg { background-color: #f0f0f1; }
.base02-bg { background-color: #e5e5e6; }
.base03-bg { background-color: #a0a1a7; }
.base04-bg { background-color: #696c77; }
.base05-bg { background-color: #383a42; }
.base06-bg { background-color: #202227; }
.base07-bg { background-color: #090a0b; }
.base08-bg { background-color: #ca1243; }
.base09-bg { background-color: #d75f00; }
.base0A-bg { background-color: #c18401; }
.base0B-bg { background-color: #50a14f; }
.base0C-bg { background-color: #0184bc; }
.base0D-bg { background-color: #4078f2; }
.base0E-bg { background-color: #a626a4; }
.base0F-bg { background-color: #986801; }

.base00 { color: #fafafa; }
.base01 { color: #f0f0f1; }
.base02 { color: #e5e5e6; }
.base03 { color: #a0a1a7; }
.base04 { color: #696c77; }
.base05 { color: #383a42; }
.base06 { color: #202227; }
.base07 { color: #090a0b; }
.base08 { color: #ca1243; }
.base09 { color: #d75f00; }
.base0A { color: #c18401; }
.base0B { color: #50a14f; }
.base0C { color: #0184bc; }
.base0D { color: #4078f2; }
.base0E { color: #a626a4; }
.base0F { color: #986801; }
