/* Heetch Light by Geoffrey Teale (tealeg@gmail.com) */

.base00-bg { background-color: #feffff; }
.base01-bg { background-color: #392551; }
.base02-bg { background-color: #7b6d8b; }
.base03-bg { background-color: #9c92a8; }
.base04-bg { background-color: #ddd6e5; }
.base05-bg { background-color: #5a496e; }
.base06-bg { background-color: #470546; }
.base07-bg { background-color: #190134; }
.base08-bg { background-color: #27d9d5; }
.base09-bg { background-color: #bdb6c5; }
.base0A-bg { background-color: #5ba2b6; }
.base0B-bg { background-color: #f80059; }
.base0C-bg { background-color: #c33678; }
.base0D-bg { background-color: #47f9f5; }
.base0E-bg { background-color: #bd0152; }
.base0F-bg { background-color: #dedae2; }

.base00 { color: #feffff; }
.base01 { color: #392551; }
.base02 { color: #7b6d8b; }
.base03 { color: #9c92a8; }
.base04 { color: #ddd6e5; }
.base05 { color: #5a496e; }
.base06 { color: #470546; }
.base07 { color: #190134; }
.base08 { color: #27d9d5; }
.base09 { color: #bdb6c5; }
.base0A { color: #5ba2b6; }
.base0B { color: #f80059; }
.base0C { color: #c33678; }
.base0D { color: #47f9f5; }
.base0E { color: #bd0152; }
.base0F { color: #dedae2; }
