/* Synth Midnight Dark by Michaël Ball (http://github.com/michael-ball/) */

.base00-bg { background-color: #040404; }
.base01-bg { background-color: #141414; }
.base02-bg { background-color: #242424; }
.base03-bg { background-color: #61507A; }
.base04-bg { background-color: #BFBBBF; }
.base05-bg { background-color: #DFDBDF; }
.base06-bg { background-color: #EFEBEF; }
.base07-bg { background-color: #FFFBFF; }
.base08-bg { background-color: #B53B50; }
.base09-bg { background-color: #E4600E; }
.base0A-bg { background-color: #DAE84D; }
.base0B-bg { background-color: #06EA61; }
.base0C-bg { background-color: #7CEDE9; }
.base0D-bg { background-color: #03AEFF; }
.base0E-bg { background-color: #EA5CE2; }
.base0F-bg { background-color: #9D4D0E; }

.base00 { color: #040404; }
.base01 { color: #141414; }
.base02 { color: #242424; }
.base03 { color: #61507A; }
.base04 { color: #BFBBBF; }
.base05 { color: #DFDBDF; }
.base06 { color: #EFEBEF; }
.base07 { color: #FFFBFF; }
.base08 { color: #B53B50; }
.base09 { color: #E4600E; }
.base0A { color: #DAE84D; }
.base0B { color: #06EA61; }
.base0C { color: #7CEDE9; }
.base0D { color: #03AEFF; }
.base0E { color: #EA5CE2; }
.base0F { color: #9D4D0E; }
