/* Horizon Dark by Michaël Ball (http://github.com/michael-ball/) */

.base00-bg { background-color: #1C1E26; }
.base01-bg { background-color: #232530; }
.base02-bg { background-color: #2E303E; }
.base03-bg { background-color: #6F6F70; }
.base04-bg { background-color: #9DA0A2; }
.base05-bg { background-color: #CBCED0; }
.base06-bg { background-color: #DCDFE4; }
.base07-bg { background-color: #E3E6EE; }
.base08-bg { background-color: #E95678; }
.base09-bg { background-color: #FAB795; }
.base0A-bg { background-color: #FAC29A; }
.base0B-bg { background-color: #29D398; }
.base0C-bg { background-color: #59E1E3; }
.base0D-bg { background-color: #26BBD9; }
.base0E-bg { background-color: #EE64AC; }
.base0F-bg { background-color: #F09383; }

.base00 { color: #1C1E26; }
.base01 { color: #232530; }
.base02 { color: #2E303E; }
.base03 { color: #6F6F70; }
.base04 { color: #9DA0A2; }
.base05 { color: #CBCED0; }
.base06 { color: #DCDFE4; }
.base07 { color: #E3E6EE; }
.base08 { color: #E95678; }
.base09 { color: #FAB795; }
.base0A { color: #FAC29A; }
.base0B { color: #29D398; }
.base0C { color: #59E1E3; }
.base0D { color: #26BBD9; }
.base0E { color: #EE64AC; }
.base0F { color: #F09383; }
