/* iA Light by iA Inc. (modified by aramisgithub) */

.base00-bg { background-color: #f6f6f6; }
.base01-bg { background-color: #dedede; }
.base02-bg { background-color: #bde5f2; }
.base03-bg { background-color: #898989; }
.base04-bg { background-color: #767676; }
.base05-bg { background-color: #181818; }
.base06-bg { background-color: #e8e8e8; }
.base07-bg { background-color: #f8f8f8; }
.base08-bg { background-color: #9c5a02; }
.base09-bg { background-color: #c43e18; }
.base0A-bg { background-color: #c48218; }
.base0B-bg { background-color: #38781c; }
.base0C-bg { background-color: #2d6bb1; }
.base0D-bg { background-color: #48bac2; }
.base0E-bg { background-color: #a94598; }
.base0F-bg { background-color: #8b6c37; }

.base00 { color: #f6f6f6; }
.base01 { color: #dedede; }
.base02 { color: #bde5f2; }
.base03 { color: #898989; }
.base04 { color: #767676; }
.base05 { color: #181818; }
.base06 { color: #e8e8e8; }
.base07 { color: #f8f8f8; }
.base08 { color: #9c5a02; }
.base09 { color: #c43e18; }
.base0A { color: #c48218; }
.base0B { color: #38781c; }
.base0C { color: #2d6bb1; }
.base0D { color: #48bac2; }
.base0E { color: #a94598; }
.base0F { color: #8b6c37; }
