/* Mellow Purple by gidsi */

.base00-bg { background-color: #1e0528; }
.base01-bg { background-color: #1A092D; }
.base02-bg { background-color: #331354; }
.base03-bg { background-color: #320f55; }
.base04-bg { background-color: #873582; }
.base05-bg { background-color: #ffeeff; }
.base06-bg { background-color: #ffeeff; }
.base07-bg { background-color: #f8c0ff; }
.base08-bg { background-color: #00d9e9; }
.base09-bg { background-color: #aa00a3; }
.base0A-bg { background-color: #955ae7; }
.base0B-bg { background-color: #05cb0d; }
.base0C-bg { background-color: #b900b1; }
.base0D-bg { background-color: #550068; }
.base0E-bg { background-color: #8991bb; }
.base0F-bg { background-color: #4d6fff; }

.base00 { color: #1e0528; }
.base01 { color: #1A092D; }
.base02 { color: #331354; }
.base03 { color: #320f55; }
.base04 { color: #873582; }
.base05 { color: #ffeeff; }
.base06 { color: #ffeeff; }
.base07 { color: #f8c0ff; }
.base08 { color: #00d9e9; }
.base09 { color: #aa00a3; }
.base0A { color: #955ae7; }
.base0B { color: #05cb0d; }
.base0C { color: #b900b1; }
.base0D { color: #550068; }
.base0E { color: #8991bb; }
.base0F { color: #4d6fff; }
