/* Heetch Dark by Geoffrey Teale (tealeg@gmail.com) */

.base00-bg { background-color: #190134; }
.base01-bg { background-color: #392551; }
.base02-bg { background-color: #5A496E; }
.base03-bg { background-color: #7B6D8B; }
.base04-bg { background-color: #9C92A8; }
.base05-bg { background-color: #BDB6C5; }
.base06-bg { background-color: #DEDAE2; }
.base07-bg { background-color: #FEFFFF; }
.base08-bg { background-color: #27D9D5; }
.base09-bg { background-color: #5BA2B6; }
.base0A-bg { background-color: #8F6C97; }
.base0B-bg { background-color: #C33678; }
.base0C-bg { background-color: #F80059; }
.base0D-bg { background-color: #BD0152; }
.base0E-bg { background-color: #82034C; }
.base0F-bg { background-color: #470546; }

.base00 { color: #190134; }
.base01 { color: #392551; }
.base02 { color: #5A496E; }
.base03 { color: #7B6D8B; }
.base04 { color: #9C92A8; }
.base05 { color: #BDB6C5; }
.base06 { color: #DEDAE2; }
.base07 { color: #FEFFFF; }
.base08 { color: #27D9D5; }
.base09 { color: #5BA2B6; }
.base0A { color: #8F6C97; }
.base0B { color: #C33678; }
.base0C { color: #F80059; }
.base0D { color: #BD0152; }
.base0E { color: #82034C; }
.base0F { color: #470546; }
