.base00 { color: #1a1a1a; }
.base01 { color: #222222; }
.base02 { color: #1d414d; }
.base03 { color: #767676; }
.base04 { color: #b8b8b8; }
.base05 { color: #cccccc; }
.base06 { color: #e8e8e8; }
.base07 { color: #f8f8f8; }
.base08 { color: #d88568; }
.base09 { color: #d86868; }
.base0A { color: #b99353; }
.base0B { color: #83a471; }
.base0C { color: #7c9cae; }
.base0D { color: #8eccdd; }
.base0E { color: #b98eb2; }
.base0F { color: #8b6c37; }

.base00-background { background-color: #1a1a1a; }
.base01-background { background-color: #222222; }
.base02-background { background-color: #1d414d; }
.base03-background { background-color: #767676; }
.base04-background { background-color: #b8b8b8; }
.base05-background { background-color: #cccccc; }
.base06-background { background-color: #e8e8e8; }
.base07-background { background-color: #f8f8f8; }
.base08-background { background-color: #d88568; }
.base09-background { background-color: #d86868; }
.base0A-background { background-color: #b99353; }
.base0B-background { background-color: #83a471; }
.base0C-background { background-color: #7c9cae; }
.base0D-background { background-color: #8eccdd; }
.base0E-background { background-color: #b98eb2; }
.base0F-background { background-color: #8b6c37; }
