.base00 { color: #1c1c1c; }
.base01 { color: #af005f; }
.base02 { color: #5faf00; }
.base03 { color: #d7af5f; }
.base04 { color: #5fafd7; }
.base05 { color: #808080; }
.base06 { color: #d7875f; }
.base07 { color: #d0d0d0; }
.base08 { color: #585858; }
.base09 { color: #5faf5f; }
.base0A { color: #afd700; }
.base0B { color: #af87d7; }
.base0C { color: #ffaf00; }
.base0D { color: #ff5faf; }
.base0E { color: #00afaf; }
.base0F { color: #5f8787; }

.base00-background { background-color: #1c1c1c; }
.base01-background { background-color: #af005f; }
.base02-background { background-color: #5faf00; }
.base03-background { background-color: #d7af5f; }
.base04-background { background-color: #5fafd7; }
.base05-background { background-color: #808080; }
.base06-background { background-color: #d7875f; }
.base07-background { background-color: #d0d0d0; }
.base08-background { background-color: #585858; }
.base09-background { background-color: #5faf5f; }
.base0A-background { background-color: #afd700; }
.base0B-background { background-color: #af87d7; }
.base0C-background { background-color: #ffaf00; }
.base0D-background { background-color: #ff5faf; }
.base0E-background { background-color: #00afaf; }
.base0F-background { background-color: #5f8787; }
