.base00 { color: #231e18; }
.base01 { color: #302b25; }
.base02 { color: #48413a; }
.base03 { color: #9d8b70; }
.base04 { color: #b4a490; }
.base05 { color: #cabcb1; }
.base06 { color: #d7c8bc; }
.base07 { color: #e4d4c8; }
.base08 { color: #d35c5c; }
.base09 { color: #ca7f32; }
.base0A { color: #e0ac16; }
.base0B { color: #b7ba53; }
.base0C { color: #6eb958; }
.base0D { color: #88a4d3; }
.base0E { color: #bb90e2; }
.base0F { color: #b49368; }

.base00-background { background-color: #231e18; }
.base01-background { background-color: #302b25; }
.base02-background { background-color: #48413a; }
.base03-background { background-color: #9d8b70; }
.base04-background { background-color: #b4a490; }
.base05-background { background-color: #cabcb1; }
.base06-background { background-color: #d7c8bc; }
.base07-background { background-color: #e4d4c8; }
.base08-background { background-color: #d35c5c; }
.base09-background { background-color: #ca7f32; }
.base0A-background { background-color: #e0ac16; }
.base0B-background { background-color: #b7ba53; }
.base0C-background { background-color: #6eb958; }
.base0D-background { background-color: #88a4d3; }
.base0E-background { background-color: #bb90e2; }
.base0F-background { background-color: #b49368; }
