.base00 { color: #3C4C55; }
.base01 { color: #556873; }
.base02 { color: #6A7D89; }
.base03 { color: #899BA6; }
.base04 { color: #899BA6; }
.base05 { color: #C5D4DD; }
.base06 { color: #899BA6; }
.base07 { color: #556873; }
.base08 { color: #83AFE5; }
.base09 { color: #7FC1CA; }
.base0A { color: #A8CE93; }
.base0B { color: #7FC1CA; }
.base0C { color: #F2C38F; }
.base0D { color: #83AFE5; }
.base0E { color: #9A93E1; }
.base0F { color: #F2C38F; }

.base00-background { background-color: #3C4C55; }
.base01-background { background-color: #556873; }
.base02-background { background-color: #6A7D89; }
.base03-background { background-color: #899BA6; }
.base04-background { background-color: #899BA6; }
.base05-background { background-color: #C5D4DD; }
.base06-background { background-color: #899BA6; }
.base07-background { background-color: #556873; }
.base08-background { background-color: #83AFE5; }
.base09-background { background-color: #7FC1CA; }
.base0A-background { background-color: #A8CE93; }
.base0B-background { background-color: #7FC1CA; }
.base0C-background { background-color: #F2C38F; }
.base0D-background { background-color: #83AFE5; }
.base0E-background { background-color: #9A93E1; }
.base0F-background { background-color: #F2C38F; }
