.base00 { color: #f1ecf1; }
.base01 { color: #e0dee0; }
.base02 { color: #d8d5d5; }
.base03 { color: #b5b4b6; }
.base04 { color: #979598; }
.base05 { color: #515151; }
.base06 { color: #474545; }
.base07 { color: #2d2c2c; }
.base08 { color: #fe3e31; }
.base09 { color: #fe6d08; }
.base0A { color: #f7e203; }
.base0B { color: #47f74c; }
.base0C { color: #0f9cfd; }
.base0D { color: #2931df; }
.base0E { color: #611fce; }
.base0F { color: #b16f40; }

.base00-background { background-color: #f1ecf1; }
.base01-background { background-color: #e0dee0; }
.base02-background { background-color: #d8d5d5; }
.base03-background { background-color: #b5b4b6; }
.base04-background { background-color: #979598; }
.base05-background { background-color: #515151; }
.base06-background { background-color: #474545; }
.base07-background { background-color: #2d2c2c; }
.base08-background { background-color: #fe3e31; }
.base09-background { background-color: #fe6d08; }
.base0A-background { background-color: #f7e203; }
.base0B-background { background-color: #47f74c; }
.base0C-background { background-color: #0f9cfd; }
.base0D-background { background-color: #2931df; }
.base0E-background { background-color: #611fce; }
.base0F-background { background-color: #b16f40; }
