.base00 { color: #ecf4ee; }
.base01 { color: #dfe7e2; }
.base02 { color: #87928a; }
.base03 { color: #78877d; }
.base04 { color: #5f6d64; }
.base05 { color: #526057; }
.base06 { color: #232a25; }
.base07 { color: #171c19; }
.base08 { color: #b16139; }
.base09 { color: #9f713c; }
.base0A { color: #a07e3b; }
.base0B { color: #489963; }
.base0C { color: #1c9aa0; }
.base0D { color: #478c90; }
.base0E { color: #55859b; }
.base0F { color: #867469; }

.base00-background { background-color: #ecf4ee; }
.base01-background { background-color: #dfe7e2; }
.base02-background { background-color: #87928a; }
.base03-background { background-color: #78877d; }
.base04-background { background-color: #5f6d64; }
.base05-background { background-color: #526057; }
.base06-background { background-color: #232a25; }
.base07-background { background-color: #171c19; }
.base08-background { background-color: #b16139; }
.base09-background { background-color: #9f713c; }
.base0A-background { background-color: #a07e3b; }
.base0B-background { background-color: #489963; }
.base0C-background { background-color: #1c9aa0; }
.base0D-background { background-color: #478c90; }
.base0E-background { background-color: #55859b; }
.base0F-background { background-color: #867469; }
