.base00 { color: #151515; }
.base01 { color: #202020; }
.base02 { color: #303030; }
.base03 { color: #505050; }
.base04 { color: #B0B0B0; }
.base05 { color: #D0D0D0; }
.base06 { color: #E0E0E0; }
.base07 { color: #F5F5F5; }
.base08 { color: #AC4142; }
.base09 { color: #D28445; }
.base0A { color: #F4BF75; }
.base0B { color: #90A959; }
.base0C { color: #75B5AA; }
.base0D { color: #6A9FB5; }
.base0E { color: #AA759F; }
.base0F { color: #8F5536; }

.base00-background { background-color: #151515; }
.base01-background { background-color: #202020; }
.base02-background { background-color: #303030; }
.base03-background { background-color: #505050; }
.base04-background { background-color: #B0B0B0; }
.base05-background { background-color: #D0D0D0; }
.base06-background { background-color: #E0E0E0; }
.base07-background { background-color: #F5F5F5; }
.base08-background { background-color: #AC4142; }
.base09-background { background-color: #D28445; }
.base0A-background { background-color: #F4BF75; }
.base0B-background { background-color: #90A959; }
.base0C-background { background-color: #75B5AA; }
.base0D-background { background-color: #6A9FB5; }
.base0E-background { background-color: #AA759F; }
.base0F-background { background-color: #8F5536; }
