.base00 { color: #1e0528; }
.base01 { color: #1A092D; }
.base02 { color: #331354; }
.base03 { color: #320f55; }
.base04 { color: #873582; }
.base05 { color: #ffeeff; }
.base06 { color: #ffeeff; }
.base07 { color: #f8c0ff; }
.base08 { color: #00d9e9; }
.base09 { color: #aa00a3; }
.base0A { color: #955ae7; }
.base0B { color: #05cb0d; }
.base0C { color: #b900b1; }
.base0D { color: #550068; }
.base0E { color: #8991bb; }
.base0F { color: #4d6fff; }

.base00-background { background-color: #1e0528; }
.base01-background { background-color: #1A092D; }
.base02-background { background-color: #331354; }
.base03-background { background-color: #320f55; }
.base04-background { background-color: #873582; }
.base05-background { background-color: #ffeeff; }
.base06-background { background-color: #ffeeff; }
.base07-background { background-color: #f8c0ff; }
.base08-background { background-color: #00d9e9; }
.base09-background { background-color: #aa00a3; }
.base0A-background { background-color: #955ae7; }
.base0B-background { background-color: #05cb0d; }
.base0C-background { background-color: #b900b1; }
.base0D-background { background-color: #550068; }
.base0E-background { background-color: #8991bb; }
.base0F-background { background-color: #4d6fff; }
