.base00 { color: #efecf4; }
.base01 { color: #e2dfe7; }
.base02 { color: #8b8792; }
.base03 { color: #7e7887; }
.base04 { color: #655f6d; }
.base05 { color: #585260; }
.base06 { color: #26232a; }
.base07 { color: #19171c; }
.base08 { color: #be4678; }
.base09 { color: #aa573c; }
.base0A { color: #a06e3b; }
.base0B { color: #2a9292; }
.base0C { color: #398bc6; }
.base0D { color: #576ddb; }
.base0E { color: #955ae7; }
.base0F { color: #bf40bf; }

.base00-background { background-color: #efecf4; }
.base01-background { background-color: #e2dfe7; }
.base02-background { background-color: #8b8792; }
.base03-background { background-color: #7e7887; }
.base04-background { background-color: #655f6d; }
.base05-background { background-color: #585260; }
.base06-background { background-color: #26232a; }
.base07-background { background-color: #19171c; }
.base08-background { background-color: #be4678; }
.base09-background { background-color: #aa573c; }
.base0A-background { background-color: #a06e3b; }
.base0B-background { background-color: #2a9292; }
.base0C-background { background-color: #398bc6; }
.base0D-background { background-color: #576ddb; }
.base0E-background { background-color: #955ae7; }
.base0F-background { background-color: #bf40bf; }
