.base00 { color: #292c36; }
.base01 { color: #333344; }
.base02 { color: #474160; }
.base03 { color: #65568a; }
.base04 { color: #b8b8b8; }
.base05 { color: #d8d8d8; }
.base06 { color: #e8e8e8; }
.base07 { color: #f8f8f8; }
.base08 { color: #f84547; }
.base09 { color: #d28e5d; }
.base0A { color: #efa16b; }
.base0B { color: #95c76f; }
.base0C { color: #64878f; }
.base0D { color: #8485ce; }
.base0E { color: #b74989; }
.base0F { color: #986841; }

.base00-background { background-color: #292c36; }
.base01-background { background-color: #333344; }
.base02-background { background-color: #474160; }
.base03-background { background-color: #65568a; }
.base04-background { background-color: #b8b8b8; }
.base05-background { background-color: #d8d8d8; }
.base06-background { background-color: #e8e8e8; }
.base07-background { background-color: #f8f8f8; }
.base08-background { background-color: #f84547; }
.base09-background { background-color: #d28e5d; }
.base0A-background { background-color: #efa16b; }
.base0B-background { background-color: #95c76f; }
.base0C-background { background-color: #64878f; }
.base0D-background { background-color: #8485ce; }
.base0E-background { background-color: #b74989; }
.base0F-background { background-color: #986841; }
