.base00 { color: #feffff; }
.base01 { color: #392551; }
.base02 { color: #7b6d8b; }
.base03 { color: #9c92a8; }
.base04 { color: #ddd6e5; }
.base05 { color: #5a496e; }
.base06 { color: #470546; }
.base07 { color: #190134; }
.base08 { color: #27d9d5; }
.base09 { color: #bdb6c5; }
.base0A { color: #5ba2b6; }
.base0B { color: #f80059; }
.base0C { color: #c33678; }
.base0D { color: #47f9f5; }
.base0E { color: #bd0152; }
.base0F { color: #dedae2; }

.base00-background { background-color: #feffff; }
.base01-background { background-color: #392551; }
.base02-background { background-color: #7b6d8b; }
.base03-background { background-color: #9c92a8; }
.base04-background { background-color: #ddd6e5; }
.base05-background { background-color: #5a496e; }
.base06-background { background-color: #470546; }
.base07-background { background-color: #190134; }
.base08-background { background-color: #27d9d5; }
.base09-background { background-color: #bdb6c5; }
.base0A-background { background-color: #5ba2b6; }
.base0B-background { background-color: #f80059; }
.base0C-background { background-color: #c33678; }
.base0D-background { background-color: #47f9f5; }
.base0E-background { background-color: #bd0152; }
.base0F-background { background-color: #dedae2; }
