.base00 { color: #1C1E26; }
.base01 { color: #232530; }
.base02 { color: #2E303E; }
.base03 { color: #6F6F70; }
.base04 { color: #9DA0A2; }
.base05 { color: #CBCED0; }
.base06 { color: #DCDFE4; }
.base07 { color: #E3E6EE; }
.base08 { color: #E93C58; }
.base09 { color: #E58D7D; }
.base0A { color: #EFB993; }
.base0B { color: #EFAF8E; }
.base0C { color: #24A8B4; }
.base0D { color: #DF5273; }
.base0E { color: #B072D1; }
.base0F { color: #E4A382; }

.base00-background { background-color: #1C1E26; }
.base01-background { background-color: #232530; }
.base02-background { background-color: #2E303E; }
.base03-background { background-color: #6F6F70; }
.base04-background { background-color: #9DA0A2; }
.base05-background { background-color: #CBCED0; }
.base06-background { background-color: #DCDFE4; }
.base07-background { background-color: #E3E6EE; }
.base08-background { background-color: #E93C58; }
.base09-background { background-color: #E58D7D; }
.base0A-background { background-color: #EFB993; }
.base0B-background { background-color: #EFAF8E; }
.base0C-background { background-color: #24A8B4; }
.base0D-background { background-color: #DF5273; }
.base0E-background { background-color: #B072D1; }
.base0F-background { background-color: #E4A382; }
