.base00 { color: #292a44; }
.base01 { color: #663399; }
.base02 { color: #383a62; }
.base03 { color: #666699; }
.base04 { color: #a0a0c5; }
.base05 { color: #f1eff8; }
.base06 { color: #ccccff; }
.base07 { color: #53495d; }
.base08 { color: #a0a0c5; }
.base09 { color: #efe4a1; }
.base0A { color: #ae81ff; }
.base0B { color: #6dfedf; }
.base0C { color: #8eaee0; }
.base0D { color: #2de0a7; }
.base0E { color: #7aa5ff; }
.base0F { color: #ff79c6; }

.base00-background { background-color: #292a44; }
.base01-background { background-color: #663399; }
.base02-background { background-color: #383a62; }
.base03-background { background-color: #666699; }
.base04-background { background-color: #a0a0c5; }
.base05-background { background-color: #f1eff8; }
.base06-background { background-color: #ccccff; }
.base07-background { background-color: #53495d; }
.base08-background { background-color: #a0a0c5; }
.base09-background { background-color: #efe4a1; }
.base0A-background { background-color: #ae81ff; }
.base0B-background { background-color: #6dfedf; }
.base0C-background { background-color: #8eaee0; }
.base0D-background { background-color: #2de0a7; }
.base0E-background { background-color: #7aa5ff; }
.base0F-background { background-color: #ff79c6; }
