.base00 { color: #f6f6f6; }
.base01 { color: #dedede; }
.base02 { color: #bde5f2; }
.base03 { color: #898989; }
.base04 { color: #767676; }
.base05 { color: #181818; }
.base06 { color: #e8e8e8; }
.base07 { color: #f8f8f8; }
.base08 { color: #9c5a02; }
.base09 { color: #c43e18; }
.base0A { color: #c48218; }
.base0B { color: #38781c; }
.base0C { color: #2d6bb1; }
.base0D { color: #48bac2; }
.base0E { color: #a94598; }
.base0F { color: #8b6c37; }

.base00-background { background-color: #f6f6f6; }
.base01-background { background-color: #dedede; }
.base02-background { background-color: #bde5f2; }
.base03-background { background-color: #898989; }
.base04-background { background-color: #767676; }
.base05-background { background-color: #181818; }
.base06-background { background-color: #e8e8e8; }
.base07-background { background-color: #f8f8f8; }
.base08-background { background-color: #9c5a02; }
.base09-background { background-color: #c43e18; }
.base0A-background { background-color: #c48218; }
.base0B-background { background-color: #38781c; }
.base0C-background { background-color: #2d6bb1; }
.base0D-background { background-color: #48bac2; }
.base0E-background { background-color: #a94598; }
.base0F-background { background-color: #8b6c37; }
