.base00 { color: #282828; }
.base01 { color: #3c3836; }
.base02 { color: #504945; }
.base03 { color: #665c54; }
.base04 { color: #bdae93; }
.base05 { color: #d5c4a1; }
.base06 { color: #ebdbb2; }
.base07 { color: #fbf1c7; }
.base08 { color: #fb4934; }
.base09 { color: #fe8019; }
.base0A { color: #fabd2f; }
.base0B { color: #b8bb26; }
.base0C { color: #8ec07c; }
.base0D { color: #83a598; }
.base0E { color: #d3869b; }
.base0F { color: #d65d0e; }

.base00-background { background-color: #282828; }
.base01-background { background-color: #3c3836; }
.base02-background { background-color: #504945; }
.base03-background { background-color: #665c54; }
.base04-background { background-color: #bdae93; }
.base05-background { background-color: #d5c4a1; }
.base06-background { background-color: #ebdbb2; }
.base07-background { background-color: #fbf1c7; }
.base08-background { background-color: #fb4934; }
.base09-background { background-color: #fe8019; }
.base0A-background { background-color: #fabd2f; }
.base0B-background { background-color: #b8bb26; }
.base0C-background { background-color: #8ec07c; }
.base0D-background { background-color: #83a598; }
.base0E-background { background-color: #d3869b; }
.base0F-background { background-color: #d65d0e; }
