.base00 { color: #485867; }
.base01 { color: #5A6D7A; }
.base02 { color: #6D828E; }
.base03 { color: #8299A1; }
.base04 { color: #98AFB5; }
.base05 { color: #B0C5C8; }
.base06 { color: #C9DBDC; }
.base07 { color: #E3EFEF; }
.base08 { color: #b38686; }
.base09 { color: #d8bba2; }
.base0A { color: #aab386; }
.base0B { color: #87b386; }
.base0C { color: #86b3b3; }
.base0D { color: #868cb3; }
.base0E { color: #b386b2; }
.base0F { color: #b39f9f; }

.base00-background { background-color: #485867; }
.base01-background { background-color: #5A6D7A; }
.base02-background { background-color: #6D828E; }
.base03-background { background-color: #8299A1; }
.base04-background { background-color: #98AFB5; }
.base05-background { background-color: #B0C5C8; }
.base06-background { background-color: #C9DBDC; }
.base07-background { background-color: #E3EFEF; }
.base08-background { background-color: #b38686; }
.base09-background { background-color: #d8bba2; }
.base0A-background { background-color: #aab386; }
.base0B-background { background-color: #87b386; }
.base0C-background { background-color: #86b3b3; }
.base0D-background { background-color: #868cb3; }
.base0E-background { background-color: #b386b2; }
.base0F-background { background-color: #b39f9f; }
