.base00 { color: #1d2021; }
.base01 { color: #383c3e; }
.base02 { color: #53585b; }
.base03 { color: #6f7579; }
.base04 { color: #cdcdcd; }
.base05 { color: #d5d5d5; }
.base06 { color: #dddddd; }
.base07 { color: #e5e5e5; }
.base08 { color: #d72638; }
.base09 { color: #eb8413; }
.base0A { color: #f19d1a; }
.base0B { color: #88b92d; }
.base0C { color: #1ba595; }
.base0D { color: #1e8bac; }
.base0E { color: #be4264; }
.base0F { color: #c85e0d; }

.base00-background { background-color: #1d2021; }
.base01-background { background-color: #383c3e; }
.base02-background { background-color: #53585b; }
.base03-background { background-color: #6f7579; }
.base04-background { background-color: #cdcdcd; }
.base05-background { background-color: #d5d5d5; }
.base06-background { background-color: #dddddd; }
.base07-background { background-color: #e5e5e5; }
.base08-background { background-color: #d72638; }
.base09-background { background-color: #eb8413; }
.base0A-background { background-color: #f19d1a; }
.base0B-background { background-color: #88b92d; }
.base0C-background { background-color: #1ba595; }
.base0D-background { background-color: #1e8bac; }
.base0E-background { background-color: #be4264; }
.base0F-background { background-color: #c85e0d; }
