.base00 { color: #eeeeee; }
.base01 { color: #af0000; }
.base02 { color: #008700; }
.base03 { color: #5f8700; }
.base04 { color: #0087af; }
.base05 { color: #878787; }
.base06 { color: #005f87; }
.base07 { color: #444444; }
.base08 { color: #bcbcbc; }
.base09 { color: #d70000; }
.base0A { color: #d70087; }
.base0B { color: #8700af; }
.base0C { color: #d75f00; }
.base0D { color: #d75f00; }
.base0E { color: #005faf; }
.base0F { color: #005f87; }

.base00-background { background-color: #eeeeee; }
.base01-background { background-color: #af0000; }
.base02-background { background-color: #008700; }
.base03-background { background-color: #5f8700; }
.base04-background { background-color: #0087af; }
.base05-background { background-color: #878787; }
.base06-background { background-color: #005f87; }
.base07-background { background-color: #444444; }
.base08-background { background-color: #bcbcbc; }
.base09-background { background-color: #d70000; }
.base0A-background { background-color: #d70087; }
.base0B-background { background-color: #8700af; }
.base0C-background { background-color: #d75f00; }
.base0D-background { background-color: #d75f00; }
.base0E-background { background-color: #005faf; }
.base0F-background { background-color: #005f87; }
