.base00 { color: #002635; }
.base01 { color: #00384d; }
.base02 { color: #517F8D; }
.base03 { color: #6C8B91; }
.base04 { color: #869696; }
.base05 { color: #a1a19a; }
.base06 { color: #e6e6dc; }
.base07 { color: #fafaf8; }
.base08 { color: #ff5a67; }
.base09 { color: #f08e48; }
.base0A { color: #ffcc1b; }
.base0B { color: #7fc06e; }
.base0C { color: #14747e; }
.base0D { color: #5dd7b9; }
.base0E { color: #9a70a4; }
.base0F { color: #c43060; }

.base00-background { background-color: #002635; }
.base01-background { background-color: #00384d; }
.base02-background { background-color: #517F8D; }
.base03-background { background-color: #6C8B91; }
.base04-background { background-color: #869696; }
.base05-background { background-color: #a1a19a; }
.base06-background { background-color: #e6e6dc; }
.base07-background { background-color: #fafaf8; }
.base08-background { background-color: #ff5a67; }
.base09-background { background-color: #f08e48; }
.base0A-background { background-color: #ffcc1b; }
.base0B-background { background-color: #7fc06e; }
.base0C-background { background-color: #14747e; }
.base0D-background { background-color: #5dd7b9; }
.base0E-background { background-color: #9a70a4; }
.base0F-background { background-color: #c43060; }
