.base00 { color: #383838; }
.base01 { color: #404040; }
.base02 { color: #606060; }
.base03 { color: #6f6f6f; }
.base04 { color: #808080; }
.base05 { color: #dcdccc; }
.base06 { color: #c0c0c0; }
.base07 { color: #ffffff; }
.base08 { color: #dca3a3; }
.base09 { color: #dfaf8f; }
.base0A { color: #e0cf9f; }
.base0B { color: #5f7f5f; }
.base0C { color: #93e0e3; }
.base0D { color: #7cb8bb; }
.base0E { color: #dc8cc3; }
.base0F { color: #000000; }

.base00-background { background-color: #383838; }
.base01-background { background-color: #404040; }
.base02-background { background-color: #606060; }
.base03-background { background-color: #6f6f6f; }
.base04-background { background-color: #808080; }
.base05-background { background-color: #dcdccc; }
.base06-background { background-color: #c0c0c0; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #dca3a3; }
.base09-background { background-color: #dfaf8f; }
.base0A-background { background-color: #e0cf9f; }
.base0B-background { background-color: #5f7f5f; }
.base0C-background { background-color: #93e0e3; }
.base0D-background { background-color: #7cb8bb; }
.base0E-background { background-color: #dc8cc3; }
.base0F-background { background-color: #000000; }
