.base00 { color: #ffffff; }
.base01 { color: #c0c0c0; }
.base02 { color: #c0c0c0; }
.base03 { color: #808080; }
.base04 { color: #808080; }
.base05 { color: #404040; }
.base06 { color: #404040; }
.base07 { color: #5e5e5e; }
.base08 { color: #c41a15; }
.base09 { color: #eb8500; }
.base0A { color: #826b28; }
.base0B { color: #007400; }
.base0C { color: #318495; }
.base0D { color: #0000ff; }
.base0E { color: #a90d91; }
.base0F { color: #826b28; }

.base00-background { background-color: #ffffff; }
.base01-background { background-color: #c0c0c0; }
.base02-background { background-color: #c0c0c0; }
.base03-background { background-color: #808080; }
.base04-background { background-color: #808080; }
.base05-background { background-color: #404040; }
.base06-background { background-color: #404040; }
.base07-background { background-color: #5e5e5e; }
.base08-background { background-color: #c41a15; }
.base09-background { background-color: #eb8500; }
.base0A-background { background-color: #826b28; }
.base0B-background { background-color: #007400; }
.base0C-background { background-color: #318495; }
.base0D-background { background-color: #0000ff; }
.base0E-background { background-color: #a90d91; }
.base0F-background { background-color: #826b28; }
