.base00 { color: #000000; }
.base01 { color: #121212; }
.base02 { color: #222222; }
.base03 { color: #333333; }
.base04 { color: #999999; }
.base05 { color: #c1c1c1; }
.base06 { color: #999999; }
.base07 { color: #c1c1c1; }
.base08 { color: #5f8787; }
.base09 { color: #aaaaaa; }
.base0A { color: #556677; }
.base0B { color: #7799bb; }
.base0C { color: #aaaaaa; }
.base0D { color: #888888; }
.base0E { color: #999999; }
.base0F { color: #444444; }

.base00-background { background-color: #000000; }
.base01-background { background-color: #121212; }
.base02-background { background-color: #222222; }
.base03-background { background-color: #333333; }
.base04-background { background-color: #999999; }
.base05-background { background-color: #c1c1c1; }
.base06-background { background-color: #999999; }
.base07-background { background-color: #c1c1c1; }
.base08-background { background-color: #5f8787; }
.base09-background { background-color: #aaaaaa; }
.base0A-background { background-color: #556677; }
.base0B-background { background-color: #7799bb; }
.base0C-background { background-color: #aaaaaa; }
.base0D-background { background-color: #888888; }
.base0E-background { background-color: #999999; }
.base0F-background { background-color: #444444; }
