.base00 { color: #2E3440; }
.base01 { color: #3B4252; }
.base02 { color: #434C5E; }
.base03 { color: #4C566A; }
.base04 { color: #D8DEE9; }
.base05 { color: #E5E9F0; }
.base06 { color: #ECEFF4; }
.base07 { color: #8FBCBB; }
.base08 { color: #88C0D0; }
.base09 { color: #81A1C1; }
.base0A { color: #5E81AC; }
.base0B { color: #BF616A; }
.base0C { color: #D08770; }
.base0D { color: #EBCB8B; }
.base0E { color: #A3BE8C; }
.base0F { color: #B48EAD; }

.base00-background { background-color: #2E3440; }
.base01-background { background-color: #3B4252; }
.base02-background { background-color: #434C5E; }
.base03-background { background-color: #4C566A; }
.base04-background { background-color: #D8DEE9; }
.base05-background { background-color: #E5E9F0; }
.base06-background { background-color: #ECEFF4; }
.base07-background { background-color: #8FBCBB; }
.base08-background { background-color: #88C0D0; }
.base09-background { background-color: #81A1C1; }
.base0A-background { background-color: #5E81AC; }
.base0B-background { background-color: #BF616A; }
.base0C-background { background-color: #D08770; }
.base0D-background { background-color: #EBCB8B; }
.base0E-background { background-color: #A3BE8C; }
.base0F-background { background-color: #B48EAD; }
