.base00 { color: #282B35; }
.base01 { color: #3D4048; }
.base02 { color: #53555D; }
.base03 { color: #686A71; }
.base04 { color: #7E8086; }
.base05 { color: #939599; }
.base06 { color: #A9AAAE; }
.base07 { color: #BEBFC2; }
.base08 { color: #B21889; }
.base09 { color: #786DC5; }
.base0A { color: #438288; }
.base0B { color: #DF0002; }
.base0C { color: #00A0BE; }
.base0D { color: #790EAD; }
.base0E { color: #B21889; }
.base0F { color: #C77C48; }

.base00-background { background-color: #282B35; }
.base01-background { background-color: #3D4048; }
.base02-background { background-color: #53555D; }
.base03-background { background-color: #686A71; }
.base04-background { background-color: #7E8086; }
.base05-background { background-color: #939599; }
.base06-background { background-color: #A9AAAE; }
.base07-background { background-color: #BEBFC2; }
.base08-background { background-color: #B21889; }
.base09-background { background-color: #786DC5; }
.base0A-background { background-color: #438288; }
.base0B-background { background-color: #DF0002; }
.base0C-background { background-color: #00A0BE; }
.base0D-background { background-color: #790EAD; }
.base0E-background { background-color: #B21889; }
.base0F-background { background-color: #C77C48; }
