.base00 { color: #fafafa; }
.base01 { color: #7c9f4b; }
.base02 { color: #d69822; }
.base03 { color: #5e646f; }
.base04 { color: #6587bf; }
.base05 { color: #5e646f; }
.base06 { color: #b870ce; }
.base07 { color: #5e646f; }
.base08 { color: #db7070; }
.base09 { color: #db7070; }
.base0A { color: #d69822; }
.base0B { color: #7c9f4b; }
.base0C { color: #509c93; }
.base0D { color: #6587bf; }
.base0E { color: #b870ce; }
.base0F { color: #509c93; }

.base00-background { background-color: #fafafa; }
.base01-background { background-color: #7c9f4b; }
.base02-background { background-color: #d69822; }
.base03-background { background-color: #5e646f; }
.base04-background { background-color: #6587bf; }
.base05-background { background-color: #5e646f; }
.base06-background { background-color: #b870ce; }
.base07-background { background-color: #5e646f; }
.base08-background { background-color: #db7070; }
.base09-background { background-color: #db7070; }
.base0A-background { background-color: #d69822; }
.base0B-background { background-color: #7c9f4b; }
.base0C-background { background-color: #509c93; }
.base0D-background { background-color: #6587bf; }
.base0E-background { background-color: #b870ce; }
.base0F-background { background-color: #509c93; }
