.base00 { color: #190134; }
.base01 { color: #392551; }
.base02 { color: #5A496E; }
.base03 { color: #7B6D8B; }
.base04 { color: #9C92A8; }
.base05 { color: #BDB6C5; }
.base06 { color: #DEDAE2; }
.base07 { color: #FEFFFF; }
.base08 { color: #27D9D5; }
.base09 { color: #5BA2B6; }
.base0A { color: #8F6C97; }
.base0B { color: #C33678; }
.base0C { color: #F80059; }
.base0D { color: #BD0152; }
.base0E { color: #82034C; }
.base0F { color: #470546; }

.base00-background { background-color: #190134; }
.base01-background { background-color: #392551; }
.base02-background { background-color: #5A496E; }
.base03-background { background-color: #7B6D8B; }
.base04-background { background-color: #9C92A8; }
.base05-background { background-color: #BDB6C5; }
.base06-background { background-color: #DEDAE2; }
.base07-background { background-color: #FEFFFF; }
.base08-background { background-color: #27D9D5; }
.base09-background { background-color: #5BA2B6; }
.base0A-background { background-color: #8F6C97; }
.base0B-background { background-color: #C33678; }
.base0C-background { background-color: #F80059; }
.base0D-background { background-color: #BD0152; }
.base0E-background { background-color: #82034C; }
.base0F-background { background-color: #470546; }
