.base00 { color: #282936; }
.base01 { color: #3a3c4e; }
.base02 { color: #4d4f68; }
.base03 { color: #626483; }
.base04 { color: #62d6e8; }
.base05 { color: #e9e9f4; }
.base06 { color: #f1f2f8; }
.base07 { color: #f7f7fb; }
.base08 { color: #ea51b2; }
.base09 { color: #b45bcf; }
.base0A { color: #00f769; }
.base0B { color: #ebff87; }
.base0C { color: #a1efe4; }
.base0D { color: #62d6e8; }
.base0E { color: #b45bcf; }
.base0F { color: #00f769; }

.base00-background { background-color: #282936; }
.base01-background { background-color: #3a3c4e; }
.base02-background { background-color: #4d4f68; }
.base03-background { background-color: #626483; }
.base04-background { background-color: #62d6e8; }
.base05-background { background-color: #e9e9f4; }
.base06-background { background-color: #f1f2f8; }
.base07-background { background-color: #f7f7fb; }
.base08-background { background-color: #ea51b2; }
.base09-background { background-color: #b45bcf; }
.base0A-background { background-color: #00f769; }
.base0B-background { background-color: #ebff87; }
.base0C-background { background-color: #a1efe4; }
.base0D-background { background-color: #62d6e8; }
.base0E-background { background-color: #b45bcf; }
.base0F-background { background-color: #00f769; }
