.base00 { color: #181818; }
.base01 { color: #151515; }
.base02 { color: #464646; }
.base03 { color: #747474; }
.base04 { color: #B9B9B9; }
.base05 { color: #D0D0D0; }
.base06 { color: #E8E8E8; }
.base07 { color: #EEEEEE; }
.base08 { color: #FD886B; }
.base09 { color: #FC4769; }
.base0A { color: #FECB6E; }
.base0B { color: #32CCDC; }
.base0C { color: #ACDDFD; }
.base0D { color: #20BCFC; }
.base0E { color: #BA8CFC; }
.base0F { color: #B15F4A; }

.base00-background { background-color: #181818; }
.base01-background { background-color: #151515; }
.base02-background { background-color: #464646; }
.base03-background { background-color: #747474; }
.base04-background { background-color: #B9B9B9; }
.base05-background { background-color: #D0D0D0; }
.base06-background { background-color: #E8E8E8; }
.base07-background { background-color: #EEEEEE; }
.base08-background { background-color: #FD886B; }
.base09-background { background-color: #FC4769; }
.base0A-background { background-color: #FECB6E; }
.base0B-background { background-color: #32CCDC; }
.base0C-background { background-color: #ACDDFD; }
.base0D-background { background-color: #20BCFC; }
.base0E-background { background-color: #BA8CFC; }
.base0F-background { background-color: #B15F4A; }
