.base00 { color: #FAFAFA; }
.base01 { color: #E7EAEC; }
.base02 { color: #CCEAE7; }
.base03 { color: #CCD7DA; }
.base04 { color: #8796B0; }
.base05 { color: #80CBC4; }
.base06 { color: #80CBC4; }
.base07 { color: #FFFFFF; }
.base08 { color: #FF5370; }
.base09 { color: #F76D47; }
.base0A { color: #FFB62C; }
.base0B { color: #91B859; }
.base0C { color: #39ADB5; }
.base0D { color: #6182B8; }
.base0E { color: #7C4DFF; }
.base0F { color: #E53935; }

.base00-background { background-color: #FAFAFA; }
.base01-background { background-color: #E7EAEC; }
.base02-background { background-color: #CCEAE7; }
.base03-background { background-color: #CCD7DA; }
.base04-background { background-color: #8796B0; }
.base05-background { background-color: #80CBC4; }
.base06-background { background-color: #80CBC4; }
.base07-background { background-color: #FFFFFF; }
.base08-background { background-color: #FF5370; }
.base09-background { background-color: #F76D47; }
.base0A-background { background-color: #FFB62C; }
.base0B-background { background-color: #91B859; }
.base0C-background { background-color: #39ADB5; }
.base0D-background { background-color: #6182B8; }
.base0E-background { background-color: #7C4DFF; }
.base0F-background { background-color: #E53935; }
