.base00 { color: #f4f3ec; }
.base01 { color: #e7e6df; }
.base02 { color: #929181; }
.base03 { color: #878573; }
.base04 { color: #6c6b5a; }
.base05 { color: #5f5e4e; }
.base06 { color: #302f27; }
.base07 { color: #22221b; }
.base08 { color: #ba6236; }
.base09 { color: #ae7313; }
.base0A { color: #a5980d; }
.base0B { color: #7d9726; }
.base0C { color: #5b9d48; }
.base0D { color: #36a166; }
.base0E { color: #5f9182; }
.base0F { color: #9d6c7c; }

.base00-background { background-color: #f4f3ec; }
.base01-background { background-color: #e7e6df; }
.base02-background { background-color: #929181; }
.base03-background { background-color: #878573; }
.base04-background { background-color: #6c6b5a; }
.base05-background { background-color: #5f5e4e; }
.base06-background { background-color: #302f27; }
.base07-background { background-color: #22221b; }
.base08-background { background-color: #ba6236; }
.base09-background { background-color: #ae7313; }
.base0A-background { background-color: #a5980d; }
.base0B-background { background-color: #7d9726; }
.base0C-background { background-color: #5b9d48; }
.base0D-background { background-color: #36a166; }
.base0E-background { background-color: #5f9182; }
.base0F-background { background-color: #9d6c7c; }
