.base00 { color: #fafafa; }
.base01 { color: #f0f0f1; }
.base02 { color: #e5e5e6; }
.base03 { color: #a0a1a7; }
.base04 { color: #696c77; }
.base05 { color: #383a42; }
.base06 { color: #202227; }
.base07 { color: #090a0b; }
.base08 { color: #ca1243; }
.base09 { color: #d75f00; }
.base0A { color: #c18401; }
.base0B { color: #50a14f; }
.base0C { color: #0184bc; }
.base0D { color: #4078f2; }
.base0E { color: #a626a4; }
.base0F { color: #986801; }

.base00-background { background-color: #fafafa; }
.base01-background { background-color: #f0f0f1; }
.base02-background { background-color: #e5e5e6; }
.base03-background { background-color: #a0a1a7; }
.base04-background { background-color: #696c77; }
.base05-background { background-color: #383a42; }
.base06-background { background-color: #202227; }
.base07-background { background-color: #090a0b; }
.base08-background { background-color: #ca1243; }
.base09-background { background-color: #d75f00; }
.base0A-background { background-color: #c18401; }
.base0B-background { background-color: #50a14f; }
.base0C-background { background-color: #0184bc; }
.base0D-background { background-color: #4078f2; }
.base0E-background { background-color: #a626a4; }
.base0F-background { background-color: #986801; }
