.base00 { color: #202124; }
.base01 { color: #27292c; }
.base02 { color: #323639; }
.base03 { color: #44464d; }
.base04 { color: #676c71; }
.base05 { color: #80868b; }
.base06 { color: #9e9e9e; }
.base07 { color: #ffffff; }
.base08 { color: #f44336; }
.base09 { color: #ff9800; }
.base0A { color: #ffeb3b; }
.base0B { color: #00e676; }
.base0C { color: #00bcd4; }
.base0D { color: #2196f3; }
.base0E { color: #673ab7; }
.base0F { color: #8d6e63; }

.base00-background { background-color: #202124; }
.base01-background { background-color: #27292c; }
.base02-background { background-color: #323639; }
.base03-background { background-color: #44464d; }
.base04-background { background-color: #676c71; }
.base05-background { background-color: #80868b; }
.base06-background { background-color: #9e9e9e; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #f44336; }
.base09-background { background-color: #ff9800; }
.base0A-background { background-color: #ffeb3b; }
.base0B-background { background-color: #00e676; }
.base0C-background { background-color: #00bcd4; }
.base0D-background { background-color: #2196f3; }
.base0E-background { background-color: #673ab7; }
.base0F-background { background-color: #8d6e63; }
