.base00 { color: #282c34; }
.base01 { color: #3f4451; }
.base02 { color: #4f5666; }
.base03 { color: #545862; }
.base04 { color: #9196a1; }
.base05 { color: #abb2bf; }
.base06 { color: #e6e6e6; }
.base07 { color: #ffffff; }
.base08 { color: #e06c75; }
.base09 { color: #d19a66; }
.base0A { color: #e5c07b; }
.base0B { color: #98c379; }
.base0C { color: #56b6c2; }
.base0D { color: #61afef; }
.base0E { color: #c678dd; }
.base0F { color: #be5046; }

.base00-background { background-color: #282c34; }
.base01-background { background-color: #3f4451; }
.base02-background { background-color: #4f5666; }
.base03-background { background-color: #545862; }
.base04-background { background-color: #9196a1; }
.base05-background { background-color: #abb2bf; }
.base06-background { background-color: #e6e6e6; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #e06c75; }
.base09-background { background-color: #d19a66; }
.base0A-background { background-color: #e5c07b; }
.base0B-background { background-color: #98c379; }
.base0C-background { background-color: #56b6c2; }
.base0D-background { background-color: #61afef; }
.base0E-background { background-color: #c678dd; }
.base0F-background { background-color: #be5046; }
