.base00 { color: #00002A; }
.base01 { color: #20204A; }
.base02 { color: #30305A; }
.base03 { color: #50507A; }
.base04 { color: #B0B0DA; }
.base05 { color: #D0D0FA; }
.base06 { color: #E0E0FF; }
.base07 { color: #F5F5FF; }
.base08 { color: #FF4242; }
.base09 { color: #FC8D28; }
.base0A { color: #F3E877; }
.base0B { color: #59F176; }
.base0C { color: #0EF0F0; }
.base0D { color: #66B0FF; }
.base0E { color: #F10596; }
.base0F { color: #F003EF; }

.base00-background { background-color: #00002A; }
.base01-background { background-color: #20204A; }
.base02-background { background-color: #30305A; }
.base03-background { background-color: #50507A; }
.base04-background { background-color: #B0B0DA; }
.base05-background { background-color: #D0D0FA; }
.base06-background { background-color: #E0E0FF; }
.base07-background { background-color: #F5F5FF; }
.base08-background { background-color: #FF4242; }
.base09-background { background-color: #FC8D28; }
.base0A-background { background-color: #F3E877; }
.base0B-background { background-color: #59F176; }
.base0C-background { background-color: #0EF0F0; }
.base0D-background { background-color: #66B0FF; }
.base0E-background { background-color: #F10596; }
.base0F-background { background-color: #F003EF; }
