.base00 { color: #021012; }
.base01 { color: #031619; }
.base02 { color: #041f23; }
.base03 { color: #052e34; }
.base04 { color: #064048; }
.base05 { color: #095b67; }
.base06 { color: #0c7c8c; }
.base07 { color: #109cb0; }
.base08 { color: #16c1d9; }
.base09 { color: #b3ebf2; }
.base0A { color: #80deea; }
.base0B { color: #4dd0e1; }
.base0C { color: #26c6da; }
.base0D { color: #00bcd4; }
.base0E { color: #00acc1; }
.base0F { color: #0097a7; }

.base00-background { background-color: #021012; }
.base01-background { background-color: #031619; }
.base02-background { background-color: #041f23; }
.base03-background { background-color: #052e34; }
.base04-background { background-color: #064048; }
.base05-background { background-color: #095b67; }
.base06-background { background-color: #0c7c8c; }
.base07-background { background-color: #109cb0; }
.base08-background { background-color: #16c1d9; }
.base09-background { background-color: #b3ebf2; }
.base0A-background { background-color: #80deea; }
.base0B-background { background-color: #4dd0e1; }
.base0C-background { background-color: #26c6da; }
.base0D-background { background-color: #00bcd4; }
.base0E-background { background-color: #00acc1; }
.base0F-background { background-color: #0097a7; }
