.base00 { color: #FDF0ED; }
.base01 { color: #FADAD1; }
.base02 { color: #F9CBBE; }
.base03 { color: #BDB3B1; }
.base04 { color: #948C8A; }
.base05 { color: #403C3D; }
.base06 { color: #302C2D; }
.base07 { color: #201C1D; }
.base08 { color: #F7939B; }
.base09 { color: #F6661E; }
.base0A { color: #FBE0D9; }
.base0B { color: #94E1B0; }
.base0C { color: #DC3318; }
.base0D { color: #DA103F; }
.base0E { color: #1D8991; }
.base0F { color: #E58C92; }

.base00-background { background-color: #FDF0ED; }
.base01-background { background-color: #FADAD1; }
.base02-background { background-color: #F9CBBE; }
.base03-background { background-color: #BDB3B1; }
.base04-background { background-color: #948C8A; }
.base05-background { background-color: #403C3D; }
.base06-background { background-color: #302C2D; }
.base07-background { background-color: #201C1D; }
.base08-background { background-color: #F7939B; }
.base09-background { background-color: #F6661E; }
.base0A-background { background-color: #FBE0D9; }
.base0B-background { background-color: #94E1B0; }
.base0C-background { background-color: #DC3318; }
.base0D-background { background-color: #DA103F; }
.base0E-background { background-color: #1D8991; }
.base0F-background { background-color: #E58C92; }
