.base00 { color: #fbf1f2; }
.base01 { color: #f2f1f4; }
.base02 { color: #d8d5dd; }
.base03 { color: #bfb9c6; }
.base04 { color: #a59daf; }
.base05 { color: #8b8198; }
.base06 { color: #72677E; }
.base07 { color: #585062; }
.base08 { color: #D57E85; }
.base09 { color: #EBB790; }
.base0A { color: #DCB16C; }
.base0B { color: #A3B367; }
.base0C { color: #69A9A7; }
.base0D { color: #7297B9; }
.base0E { color: #BB99B4; }
.base0F { color: #BAA58C; }

.base00-background { background-color: #fbf1f2; }
.base01-background { background-color: #f2f1f4; }
.base02-background { background-color: #d8d5dd; }
.base03-background { background-color: #bfb9c6; }
.base04-background { background-color: #a59daf; }
.base05-background { background-color: #8b8198; }
.base06-background { background-color: #72677E; }
.base07-background { background-color: #585062; }
.base08-background { background-color: #D57E85; }
.base09-background { background-color: #EBB790; }
.base0A-background { background-color: #DCB16C; }
.base0B-background { background-color: #A3B367; }
.base0C-background { background-color: #69A9A7; }
.base0D-background { background-color: #7297B9; }
.base0E-background { background-color: #BB99B4; }
.base0F-background { background-color: #BAA58C; }
