.base00 { color: #040404; }
.base01 { color: #141414; }
.base02 { color: #242424; }
.base03 { color: #61507A; }
.base04 { color: #BFBBBF; }
.base05 { color: #DFDBDF; }
.base06 { color: #EFEBEF; }
.base07 { color: #FFFBFF; }
.base08 { color: #B53B50; }
.base09 { color: #E4600E; }
.base0A { color: #DAE84D; }
.base0B { color: #06EA61; }
.base0C { color: #7CEDE9; }
.base0D { color: #03AEFF; }
.base0E { color: #EA5CE2; }
.base0F { color: #9D4D0E; }

.base00-background { background-color: #040404; }
.base01-background { background-color: #141414; }
.base02-background { background-color: #242424; }
.base03-background { background-color: #61507A; }
.base04-background { background-color: #BFBBBF; }
.base05-background { background-color: #DFDBDF; }
.base06-background { background-color: #EFEBEF; }
.base07-background { background-color: #FFFBFF; }
.base08-background { background-color: #B53B50; }
.base09-background { background-color: #E4600E; }
.base0A-background { background-color: #DAE84D; }
.base0B-background { background-color: #06EA61; }
.base0C-background { background-color: #7CEDE9; }
.base0D-background { background-color: #03AEFF; }
.base0E-background { background-color: #EA5CE2; }
.base0F-background { background-color: #9D4D0E; }
