.base00 { color: #282a36; }
.base01 { color: #34353e; }
.base02 { color: #43454f; }
.base03 { color: #78787e; }
.base04 { color: #a5a5a9; }
.base05 { color: #e2e4e5; }
.base06 { color: #eff0eb; }
.base07 { color: #f1f1f0; }
.base08 { color: #ff5c57; }
.base09 { color: #ff9f43; }
.base0A { color: #f3f99d; }
.base0B { color: #5af78e; }
.base0C { color: #9aedfe; }
.base0D { color: #57c7ff; }
.base0E { color: #ff6ac1; }
.base0F { color: #b2643c; }

.base00-background { background-color: #282a36; }
.base01-background { background-color: #34353e; }
.base02-background { background-color: #43454f; }
.base03-background { background-color: #78787e; }
.base04-background { background-color: #a5a5a9; }
.base05-background { background-color: #e2e4e5; }
.base06-background { background-color: #eff0eb; }
.base07-background { background-color: #f1f1f0; }
.base08-background { background-color: #ff5c57; }
.base09-background { background-color: #ff9f43; }
.base0A-background { background-color: #f3f99d; }
.base0B-background { background-color: #5af78e; }
.base0C-background { background-color: #9aedfe; }
.base0D-background { background-color: #57c7ff; }
.base0E-background { background-color: #ff6ac1; }
.base0F-background { background-color: #b2643c; }
