.base00 { color: #f2e5bc; }
.base01 { color: #ebdbb2; }
.base02 { color: #d5c4a1; }
.base03 { color: #bdae93; }
.base04 { color: #665c54; }
.base05 { color: #504945; }
.base06 { color: #3c3836; }
.base07 { color: #282828; }
.base08 { color: #9d0006; }
.base09 { color: #af3a03; }
.base0A { color: #b57614; }
.base0B { color: #79740e; }
.base0C { color: #427b58; }
.base0D { color: #076678; }
.base0E { color: #8f3f71; }
.base0F { color: #d65d0e; }

.base00-background { background-color: #f2e5bc; }
.base01-background { background-color: #ebdbb2; }
.base02-background { background-color: #d5c4a1; }
.base03-background { background-color: #bdae93; }
.base04-background { background-color: #665c54; }
.base05-background { background-color: #504945; }
.base06-background { background-color: #3c3836; }
.base07-background { background-color: #282828; }
.base08-background { background-color: #9d0006; }
.base09-background { background-color: #af3a03; }
.base0A-background { background-color: #b57614; }
.base0B-background { background-color: #79740e; }
.base0C-background { background-color: #427b58; }
.base0D-background { background-color: #076678; }
.base0E-background { background-color: #8f3f71; }
.base0F-background { background-color: #d65d0e; }
