.base00 { color: #1f1f1f; }
.base01 { color: #f81118; }
.base02 { color: #2dc55e; }
.base03 { color: #ecba0f; }
.base04 { color: #2a84d2; }
.base05 { color: #4e5ab7; }
.base06 { color: #1081d6; }
.base07 { color: #d6dbe5; }
.base08 { color: #d6dbe5; }
.base09 { color: #de352e; }
.base0A { color: #1dd361; }
.base0B { color: #f3bd09; }
.base0C { color: #1081d6; }
.base0D { color: #5350b9; }
.base0E { color: #0f7ddb; }
.base0F { color: #ffffff; }

.base00-background { background-color: #1f1f1f; }
.base01-background { background-color: #f81118; }
.base02-background { background-color: #2dc55e; }
.base03-background { background-color: #ecba0f; }
.base04-background { background-color: #2a84d2; }
.base05-background { background-color: #4e5ab7; }
.base06-background { background-color: #1081d6; }
.base07-background { background-color: #d6dbe5; }
.base08-background { background-color: #d6dbe5; }
.base09-background { background-color: #de352e; }
.base0A-background { background-color: #1dd361; }
.base0B-background { background-color: #f3bd09; }
.base0C-background { background-color: #1081d6; }
.base0D-background { background-color: #5350b9; }
.base0E-background { background-color: #0f7ddb; }
.base0F-background { background-color: #ffffff; }
