.base00 { color: #212121; }
.base01 { color: #303030; }
.base02 { color: #353535; }
.base03 { color: #4A4A4A; }
.base04 { color: #B2CCD6; }
.base05 { color: #EEFFFF; }
.base06 { color: #EEFFFF; }
.base07 { color: #FFFFFF; }
.base08 { color: #F07178; }
.base09 { color: #F78C6C; }
.base0A { color: #FFCB6B; }
.base0B { color: #C3E88D; }
.base0C { color: #89DDFF; }
.base0D { color: #82AAFF; }
.base0E { color: #C792EA; }
.base0F { color: #FF5370; }

.base00-background { background-color: #212121; }
.base01-background { background-color: #303030; }
.base02-background { background-color: #353535; }
.base03-background { background-color: #4A4A4A; }
.base04-background { background-color: #B2CCD6; }
.base05-background { background-color: #EEFFFF; }
.base06-background { background-color: #EEFFFF; }
.base07-background { background-color: #FFFFFF; }
.base08-background { background-color: #F07178; }
.base09-background { background-color: #F78C6C; }
.base0A-background { background-color: #FFCB6B; }
.base0B-background { background-color: #C3E88D; }
.base0C-background { background-color: #89DDFF; }
.base0D-background { background-color: #82AAFF; }
.base0E-background { background-color: #C792EA; }
.base0F-background { background-color: #FF5370; }
