/*
*
* Base16 Cupcake
* Author: Chris Kempson (http://chriskempson.com)
*
*/

@define-color base00 #fbf1f2;
@define-color base01 #f2f1f4;
@define-color base02 #d8d5dd;
@define-color base03 #bfb9c6;
@define-color base04 #a59daf;
@define-color base05 #8b8198;
@define-color base06 #72677E;
@define-color base07 #585062;
@define-color base08 #D57E85;
@define-color base09 #EBB790;
@define-color base0A #DCB16C;
@define-color base0B #A3B367;
@define-color base0C #69A9A7;
@define-color base0D #7297B9;
@define-color base0E #BB99B4;
@define-color base0F #BAA58C;
