/*
*
* Base16 Classic Light
* Author: Jason Heeris (http://heeris.id.au)
*
*/

@define-color base00 #F5F5F5;
@define-color base01 #E0E0E0;
@define-color base02 #D0D0D0;
@define-color base03 #B0B0B0;
@define-color base04 #505050;
@define-color base05 #303030;
@define-color base06 #202020;
@define-color base07 #151515;
@define-color base08 #AC4142;
@define-color base09 #D28445;
@define-color base0A #F4BF75;
@define-color base0B #90A959;
@define-color base0C #75B5AA;
@define-color base0D #6A9FB5;
@define-color base0E #AA759F;
@define-color base0F #8F5536;
